<section class= "d-flex justify-content-center gap-4 flex-wrap">
    <div class="card" style="width: 18rem;">
        <img src="https://static.vecteezy.com/system/resources/previews/017/771/395/non_2x/statue-of-liberty-vector.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ingles</h5>
            <p class="card-text">Comunicate en el idioma universal y accede a nuevas oportunidades para tu futuro.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/736x/21/3f/2b/213f2b83d7c8e32eac941b2fa64fbf43.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Portugues</h5>
            <p class="card-text">Aprende el sexto idioma más hablado del mundo y potencia tu perfil profesional.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://play-lh.googleusercontent.com/ctAmYCICUFJT4mjn9HIq81ggas9YLg7FQrNDln4aCzcq6H7qAi1pEC7MkQhQnP3uDgNbIoHvLEVdsekOaAlwOYM=s0-br30"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Italiano</h5>
            <p class="card-text">Domina el italiano y logra un acercamiento más profundo con esta cultura.</p>
        </div>
    </div>
</section>