<nav class="navbar navbar-morado" data-bs-theme="dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">Centro de idiomas</a>
                <a class="navbar-brand" href="#">Universidad Continental</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Matriculate</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Aula Virtual</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Trabaja con nosotros</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">disabled</a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>